<% @title="New Group" %>
<%= render 'layouts/navigation' %>
<div class="sign_form bg-custom-light rounded  p-2 py-5">
  
  <%= form_with(model: @group, local: true) do |form| %>
    <div class="actions">
      <%= form.text_field :name, placeholder: "Group Name", class: "w-100 p-2" %><br>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="w-100 p-2 bg-success-custom my-5">
        <%= submit_tag("CREATE GROUP", :class=>"w-100 bg-success-custom text-white border-custom p-2") %><br>
      </div>
    </div>
  <% end %>
</div>


