<div class="sign_form bg-custom rounded text-center p-2 py-5 min-vh-100">
    <div class="shadow-lg d-flex align-items-center justify-content-center custom-circle bg-light text-custom font-weight-bold text-center mb-3">
        <%#= @users.each do |user| %>
        <% if @user.image.attached? %>
        <%= image_tag(@user.image, class:"img-responsive w-100 h-100 custom-circle") %>
        <% else %>
        <%= image_tag 'user.png', class: 'user_avatar' %>
        <% end %>
        
        
       <%#= gravatar_image_tag(current_user.username, alt: current_user.username, class:"img-responsive w-100 h-100 custom-circle")%>
    </div>
    <div class="text-light mb-5 h4">
      <%= current_user.username.downcase.capitalize %>
    </div>
    <p class="notice text-white"><%= notice %></p>
    
    <div class="text-light mb-3 h4 text-left p-0 px-3 d-flex">
      <div class="svg_holder mr-3 h1">
        
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash-stack" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M14 3H1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1h-1z"/>
  <path fill-rule="evenodd" d="M15 5H1v8h14V5zM1 4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H1z"/>
  <path d="M13 5a2 2 0 0 0 2 2V5h-2zM3 5a2 2 0 0 1-2 2V5h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 13a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
</svg>
      </div>
      <div class="link_holder">
        <%= link_to 'My Expenses', expenses_path, class: "text-light h5" %>
      </div>
    </div>
    
    <div class="text-light mb-3 h4 text-left p-0 px-3 d-flex">
      <div class="svg_holder mr-3 h1">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-wallet-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v2h6a.5.5 0 0 1 .5.5c0 .253.08.644.306.958.207.288.557.542 1.194.542.637 0 .987-.254 1.194-.542.226-.314.306-.705.306-.958a.5.5 0 0 1 .5-.5h6v-2A1.5 1.5 0 0 0 14.5 2h-13z"/>
  <path d="M16 6.5h-5.551a2.678 2.678 0 0 1-.443 1.042C9.613 8.088 8.963 8.5 8 8.5c-.963 0-1.613-.412-2.006-.958A2.679 2.679 0 0 1 5.551 6.5H0v6A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6z"/>
</svg>
      </div>
      <div class="link_holder">
      <%= link_to 'My External expenses', external_path, class: "text-light h5" %>
      </div>
      </div>
    
    <div class="text-light mb-5 h4 text-left p-0 px-3 d-flex">
      <div class="svg_holder mr-3 h1">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-collection" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M14.5 13.5h-13A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5zm-13 1A1.5 1.5 0 0 1 0 13V6a1.5 1.5 0 0 1 1.5-1.5h13A1.5 1.5 0 0 1 16 6v7a1.5 1.5 0 0 1-1.5 1.5h-13zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
      </svg>
      </div>
      <div class="link_holder">
      <%= link_to 'My Groups', groups_path, class: "text-light h5" %>
    </div>
    </div>
    
    <div class="text-light mb-3 h4 text-left p-0 px-3 d-flex">
      <div class="svg_holder mr-3 h1">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-door-open" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1 15.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM11.5 2H11V1h.5A1.5 1.5 0 0 1 13 2.5V15h-1V2.5a.5.5 0 0 0-.5-.5z"/>
          <path fill-rule="evenodd" d="M10.828.122A.5.5 0 0 1 11 .5V15h-1V1.077l-6 .857V15H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117z"/>
          <path d="M8 9c0 .552.224 1 .5 1s.5-.448.5-1-.224-1-.5-1-.5.448-.5 1z"/>
        </svg>
      </div>
      <div class="link_holder">
      <%= link_to 'Log Out', logout_path, data: {:confirm => 'Are you sure?'}, :method => :delete, class: "text-light h5" %><br>
    </div>
    </div>
  </div>
  
