<nav class="main_color">
  <ul class="ul_in_nav">
    <li><a class="page" href="/groups"><i class="fa arrow fa-bars"></i></a></li>
    <li><a class="page" href="#"><h1>EXPENSES</h1></a></li>
    <li><a class="page" href="#"><i class="fa arrow fa-search"></i></a></li>
  </ul>
</nav>

<div class='row'>

<div class='col-xs-12'>

<%= form_for(@expense, :html => {class: "form-horizontal", role: "form"}) do |f| %>

<div class="form-group">

<div class="control-label col-sm-2">

<%= f.label :name %>

</div>

<div class="col-sm-8">

<%= f.text_field :name, class: "form-control", placeholder: "name of expense", autofocus: true %>

</div>

</div>

<div class="form-group">

<div class="control-label col-sm-2">

<%= f.label :amount %>

</div>

<div class="col-sm-8">

<%= f.number_field :amount, class: "form-control", placeholder: "amount of expense", autofocus: true %>

</div>

</div>

<div class="form-group">

<div class="control-label col-sm-2">

<%= f.label :Choose_group %>

</div>

<div class="col-sm-8">
<%= f.collection_check_boxes :group_ids, Group.all, :id, :name do |cb| %>

                        
                        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
<% end %>
</div>

</div>




<div class="form-group">

<div class="col-sm-offset-2 col-sm-10">

<%= f.submit class: 'btn btn-success btn-lg' %>

</div>

</div>

<% end %>

<div class="col-xs-4 col-xs-offset-4">

[ <%= link_to "Cancel request and return to expenses listing", expenses_path %> ]

</div>

</div>

</div>