<nav class="navbar shadow navbar-dark bg-nav">
  <%= link_to :back, class: "navbar-brand text-custom" do %>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
      <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
    </svg>
  <% end %>
  <div class="h3 text-light p-0 m-0 mx-3"> <%= @title.truncate(23) %> </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to 'Profile', current_user, class: "nav-item nav-link white" %>
      <%= link_to 'My Expenses', expenses_path, class: "nav-item nav-link white" %>
      <%= link_to 'My External Expenses', external_path, class: "nav-item nav-link white" %>
      <%= link_to 'My Groups', groups_path, class: "nav-item nav-link white" %>
    </div>
  </div>
</nav>

